# Build artifacts
/app/release/
/app/build/
/app/debug/
*.apk
*.aab
*.ap_
*.dex

# Keystores and signing
*.jks
*.keystore
keystore.properties

# IDE
/.idea/
.DS_Store

# Android studio generated
.gradle
/captures
.externalNativeBuild
.cxx
local.properties
